<md-toolbar style="background-color:red">
      <div class="md-toolbar-tools" >
          <img src="volarelogo.png" align="middle" height="42" width="42"/>
          <span>Volare</span>
      </div>
    </md-toolbar>
    <div ng-controller="EventsController" style='padding: 40px;'>
      <md-content>
        <div layout="row" layout-sm="column">
          <div flex>
            <form name="myForm">
              <md-datepicker name="dateField" ng-model="startDate" md-placeholder="Enter date"
                required md-min-date="minDate" md-max-date="maxDate" ng-change="setNewDate();"></md-datepicker>
            </form>
          </div>

          <div flex>
            <form name="myForm">
              <md-datepicker name="dateField" ng-model="endDate" md-placeholder="Enter date"
                required md-min-date="minDate" md-max-date="maxDate" ng-change="setNewDate();"></md-datepicker>
            </form>
          </div>

        </div>
        
      </md-content>
      <md-content layout-padding >
        <md-grid-list
            md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
          <md-grid-tile layout="column"
              ng-repeat="tile in chunkData"
              ng-style="{
                'background': tile.tile.color
              }"
              md-colspan-gt-sm="{{tile.tile.colspan}}"
              md-rowspan-gt-sm="{{tile.tile.rowspan}}" class="md-primary md-raised" ng-click="showTabDialog($event,tile.data)" flex-sm="100" flex-md="100" flex-gt-md="auto"> {{tile.data.city.toUpperCase()}}

          <md-grid-tile-footer>
            <md-button layout-align="center center" class="md-warn md-raised md-hue-2">{{tile.data.flight.price | currency}}</md-button>

          </md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>

      </md-content>
    </div>
    <div layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
    </div>
    <div class="event" ng-model="event" >
      <button ng-model="hasNot" ng-click="search();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"> Search! </button>
    </div>



