<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{items.city}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-content>
               <md-list>
                 <!-- <md-subheader class="md-no-sticky">Events</md-subheader> -->
                 <md-list-item class="md-3-line" ng-repeat="event in items.events">
                   <img ng-src="{{event.imageUrl}}?{{$index}}" class="md-avatar" alt="{{event.name}}" />
                   <div class="md-list-item-text" layout="column">
                     <h3>{{ event.name }}</h3>
                     <a href = "www.stubhub.com/"+"'"+{{ event.webURI }}+"'">Link</a>
                     <p>{{ event.eventDateLocal.toString() }}</p>
                   </div>
                 <md-divider ></md-divider>
                 </md-list-item>
                
            <p>{{items}}</p>


    </md-dialog-content>
  </form>
</md-dialog>